<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://api.rapidcortex.us</string>
	<key>API_BASE_URL_2</key>
	<string>https://t4bdwpjfs5.execute-api.us-east-1.amazonaws.com</string>
	<key>COGNITO_CLIENT_ID</key>
	<string>3nkemnrffspnaa0ikp2un6koh0</string>
	<key>COGNITO_DOMAIN</key>
	<string>rapidcortex-dev-158961537080.auth.us-east-1.amazoncognito.com</string>
	<key>COGNITO_LOGOUT_URI</key>
	<string>rapidcortex-desktop://logout/callback</string>
	<key>COGNITO_REDIRECT_URI</key>
	<string>rapidcortex-desktop://oauth/callback</string>
	<key>COGNITO_REGION</key>
	<string>us-east-1</string>
	<key>DEFAULT_JURISDICTION_SLUG</key>
	<string>example-city</string>
	<key>ENABLE_NATIVE_MAPKIT</key>
	<string>1</string>
	<key>NEXT_PUBLIC_SITE_URL</key>
	<string></string>
	<key>WEB_APP_BASE_URL</key>
	<string>https://www.rapidcortex.us</string>
</dict>
</plist>
